<mat-card>
    <span>Busqueda de Vuelos Disponibles</span>
    <form [formGroup]="fligthForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="create-flight-field">
            <input matInput placeholder="Ciudad Origen" formControlName="departureStation">
        </mat-form-field>
        <mat-form-field class="create-flight-field">
            <input matInput placeholder="Ciudad Destino" formControlName="arrivalStation">
        </mat-form-field>  
        <input matInput placeholder="Fecha de Salida" formControlName="departureDate">
    </mat-form-field>  
    
    <button mat-raised-button [disable]="!fligthForm.valid">Buscar</button>
    
    </form>
</mat-card>
