.search-flight-form{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%
}

.search-flight-field{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
}

.search-form-btn{
    position: relative;     
}

div{
    text-align: center;
}