<mat-card>
    <span>Busqueda de Vuelos Disponibles</span>
    <form [formGroup]="flightForm" (ngSubmit)="onSubmit()" class="search-flight-form">
        <mat-form-field class="search-flight-field">
            <input matInput placeholder="Ciudad Origen" formControlName="departureStation">
        </mat-form-field>
        <mat-form-field class="search-flight-field">
            <input matInput placeholder="Ciudad Destino" formControlName="arrivalStation">
        </mat-form-field> 
        <mat-form-field class="search-flight-field">
        <input matInput placeholder="Fecha de Salida" formControlName="departureDate" type="datetime">
        </mat-form-field>  
    <br/>
    <div>
        <button class="search-form-btn" mat-raised-button color="primary" [disabled]="!flightForm.valid">Buscar</button>
    </div>   
    </form>
</mat-card>
<mat-card *ngIf="bookedFlights!=null">
   <span>Vuelos Disponibles</span>
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef='departureStation'>
        <th mat-header-cell *matHeaderCellDef>Ciudad Origen</th>
        <td mat-cell *matCellDef="let element">{{element.departureStation}}</td>
    </ng-container>
    <ng-container matColumnDef='arrivalStation'>
        <th mat-header-cell *matHeaderCellDef>Ciudad Destino</th>
        <td mat-cell *matCellDef="let element">{{element.arrivalStation}}</td>
    </ng-container>
    <ng-container matColumnDef='departureDate'>
        <th mat-header-cell *matHeaderCellDef>Fecha de Salida</th>
        <td mat-cell *matCellDef="let element">{{element.departureDate}}</td>
    </ng-container>
    <ng-container matColumnDef='actions'>
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">{{element.actions}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>
</mat-card>
